---
import pricingPlans from "~/data/pricing-plans.json";

import SectionHeader from "~/components/ui/SectionHeader.astro";
import TimePeriodToggle from "./TimePeriodToggle.astro";
import PlanCard from "./PlanCard.astro";

const sectionTitle = "Pricing Plans";
const sectionDescription =
  "Choose the plan that best fits your event planning needs. Whether you're organizing a small gathering or a large corporate event, EventCascade has you covered.";
---

<section id="pricing" class="mt-section flex flex-col items-center">
  <SectionHeader title={sectionTitle} description={sectionDescription} />
  <TimePeriodToggle />

  <div class="my-10 flex flex-col flex-wrap justify-center gap-5 lg:flex-row">
    {
      pricingPlans.map((plan) => (
        <PlanCard
          {...plan}
          class="min-h-[400px] w-full max-w-[500px] lg:w-[500px]"
        />
      ))
    }
  </div>
</section>
