@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 5 7 26;
    --color-background-light: 16 22 54;
    --color-primary: 255 255 255;
    --color-secondary: 158 163 191;
    --color-accent: 255 139 0;
    --color-border: 28 36 76;
    --color-highlight: 23 29 63;

    --section-spacing: 2rem;
  }

  @media only screen and (min-width: 768px) {
    :root {
      --section-spacing: 5rem;
    }
  }

  @media only screen and (min-width: 1280px) {
    :root {
      --section-spacing: 7.5rem;
    }
  }
}

body {
  font-family: "Sora", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
