---
import Logo from "./Logo.astro";
import GradientButton from "./ui/GradientButton.astro";
import { Image } from "astro:assets";
import hamburgerMenu from "../icons/hamburger-menu.svg";
import Sidebar from "./Sidebar.astro";
---

<header class="flex h-24 w-full flex-row items-center lg:px-2">
  <div class="flex basis-full flex-row items-center gap-3">
    <Logo />
    <h1 class="text-lg font-bold">Event Cascade</h1>
  </div>

  <nav class="hidden md:block">
    <ul class="flex flex-row gap-4 text-secondary">
      <li><a href="#features">Features</a></li>
      <li><a href="#pricing">Pricing</a></li>
      <li><a href="#reviews">Reviews</a></li>
    </ul>
  </nav>

  <div class="flex basis-full flex-row justify-end">
    <GradientButton class="hidden md:block">Try for Free</GradientButton>

    <button class="md:hidden" data-hamburger-menu>
      <Image src={hamburgerMenu} alt="Hamburger Menu" height={32} width={32} />
    </button>
  </div>

  <Sidebar />
</header>

<script>
  const hamburgerMenu = document.querySelector(
    "[data-hamburger-menu]",
  ) as HTMLButtonElement;

  const sidebar = document.querySelector("[data-nav-sidebar]") as HTMLElement;

  hamburgerMenu.addEventListener("click", () => {
    sidebar.classList.add("visible");
  });
</script>
