---
import OutlinedImage from "~/components/ui/OutlinedImage.astro";
import Testimonials from "~/components/testimonials/Testimonials.astro";
import Button from "~/components/ui/Button.astro";

import heroImage from "/public/event-hero-image.jpg";
---

<div
  class="hero-container sm:max relative box-border flex flex-col items-center gap-3 pb-10 sm:mx-auto sm:max-w-xl md:max-w-3xl md:py-10 lg:max-w-4xl"
>
  <h2 class="px-7 text-center text-3xl sm:text-4xl md:text-6xl">
    Effortless Event Management That Flows
  </h2>

  <h3 class="text-center text-secondary sm:max-w-xl">
    Watch your events flow smoothly and make a lasting impact with our
    all-in-one solution.
  </h3>

  <Button class="mt-4">Get Started now</Button>

  <OutlinedImage
    class="-z-20 mt-8 min-h-[330px] max-w-[95%] shrink rounded-xl"
    src={heroImage}
    alt="Stylized image of a luxurious event"
  />

  <Testimonials />
</div>

<style>
  .hero-container {
    --header-height: 6rem;
    --max-hero-height: 900px;
    height: calc(100vh - var(--header-height));
    min-height: calc(var(--max-hero-height) - var(--header-height));
    overflow: hidden;
  }
</style>
