---
import OutlinedImage from "./ui/OutlinedImage.astro";
import Button from "./ui/Button.astro";

import heroImage from "../../public/event-hero-image.jpg";
---

<div
  class="hero-container sm:max box-border flex flex-col items-center gap-3 px-5 py-10 pb-10 sm:mx-auto sm:max-w-xl md:max-w-3xl lg:max-w-4xl"
>
  <h2 class="px-7 text-center text-4xl sm:text-5xl md:text-6xl">
    Effortless Event Management That Flows
  </h2>

  <h3 class="text-center text-secondary sm:max-w-xl">
    Watch your events flow smoothly and make a lasting impact with our
    all-in-one solution.
  </h3>

  <Button class="mt-4">Get Started now</Button>

  <div class="h-16"></div>

  <OutlinedImage
    class="mt-2 min-h-[330px] max-w-[90%] shrink rounded-xl"
    src={heroImage}
    alt="Stylized image of a luxurious event"
  />
</div>

<style>
  .hero-container {
    --header-height: 6rem;
    height: calc(100vh - var(--header-height));
    min-height: calc(900px - var(--header-height));
  }
</style>
