---
import SectionHeader from "~/components/ui/SectionHeader.astro";
import FeatureCard from "~/components/features/FeatureCard.astro";

import features from "~/data/features.json";

const sectionTitle = "Expore Our Services";
const sectionDescription =
  "Crafting Unforgettable Moments with Precision, Passion, and a Personal Touch.";
---

<section
  id="features"
  class="mt-section flex w-full flex-col 2xl:mx-auto 2xl:flex-row 2xl:items-center 2xl:justify-between"
>
  <SectionHeader
    title={sectionTitle}
    description={sectionDescription}
    class="2xl:w-96 2xl:text-left"
  />

  <div class="features-grid">
    {
      features.map((data) => (
        <FeatureCard feature={data.feature} description={data.description} />
      ))
    }
  </div>
</section>

<style>
  .features-grid {
    display: grid;
    gap: 2rem;
    margin: 0 auto;
  }

  @media only screen and (min-width: 992px) {
    .features-grid {
      grid-template-columns: fit-content(50%) fit-content(50%);
    }
  }

  @media only screen and (min-width: 1536px) {
    .features-grid {
      max-width: calc(100% - 24rem);
      grid-template-columns: repeat(auto-fit, 28rem);
    }
  }
</style>
