---
import TestimonialCarousel from "~/components/testimonials/TestimonialCarousel.astro";
---

<div
  class="b absolute bottom-0 box-border flex w-full flex-col items-center shadow-background-light content-none before:absolute before:-z-10 before:block before:h-full before:w-screen before:border-t before:border-background-highlight before:bg-background/85"
>
  <TestimonialCarousel />
</div>
