---
interface Props {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<button
  class:list={["text-shadow bg-accent p-3 shadow-background-light", className]}
  {...props}
>
  <slot />
</button>
