---
interface Props {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<div
  class:list={["card border border-border shadow-inset", className]}
  {...props}
>
  <slot />
</div>
